html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar:hover {
    width: 14px;
} */

::-webkit-scrollbar-track {
    background-color: #35c805;
    box-shadow: inset 0 0 5px #ffffff;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgb(254, 113, 106);
    -webkit-box-shadow: inset 0 0 6px rgb(255, 3, 3);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 138, 66);
}




body {
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: #ffff44;
    /* background-image: linear-gradient(#ffff99, #ffff44); */
    font-family: "Roboto";
    font-weight: 500;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    width: 40%;
    transition: 0.5s;
}

h1:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 20px 30px rgba(249, 213, 213, 0.273);
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

p {
    font-size: 0.9rem;
}

img {
    position: relative;
    z-index: 10;
    transform: rotate3d(90deg);
}

nav {
    /* background-color: transparent; */
    /* background-image: linear-gradient(#ffff99, #ffff44); */
    margin: 1% 7% 2%;
}

.brand {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #a200ff;
}

.nav-font {
    color: #2e00b9;
    font-size: 1.1rem;
}

.insta-icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    margin-left: 1%;
}

.description {
    font-size: 1.3rem;
    font-weight: 700;
    float: right;
    margin-top: 15%;
    position: relative;
    right: 5%;
}

.features-table {
    clear: both;
}

.lemon-lavender {
    /* background-color: #ffff99; */
    background-image: linear-gradient(#ffff44, #ffcc80);
    padding: 0.5% 15% 5%;
    color: #000099;
}

.lemon-can-image {
    float: left;
    margin: 5% 7% 7%;
}

.blood-orange-cardamom {
    /* background-color: #ffcc80; */
    background-image: linear-gradient(#ffcc80, #ff9999);
    padding: 5% 15%;
    color: #cc0000;
}

.orange-can-image {
    float: left;
    margin: 7%;
}

.natural-text {
    color: #cc0000;
    background-color: #ffce7e;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.natural-text-2 {
    color: #cc0000;
    background-color: #ff9999;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.grapefruit-rosemary {
    /* background-color: #ffb3b3; */
    background-image: linear-gradient(#ff9999, #e6b3ff);
    padding: 6% 15%;
    color: #248f8f;
}

.grapefruit-can-image {
    float: left;
    margin: 7%;
}

footer {
    /* font-size: 2rem; */
    font-weight: 400;
    text-align: center;
    background-image: linear-gradient(#e6b3ff, #6699ff);
    margin: 0;
    padding-bottom: 2%;
    padding-top: 2%;
    color: #cc0000;
}

.foot {
    font-size: 1rem;
    position: relative;
    left: 25%;
    width: 50%;
    text-align: center;
}

.heart {
    animation: heart 10s infinite alternate;
    transform-origin: center;
    font-size: 1.3rem;
}

@keyframes heart {

    0% {
        /* opacity: 0.6; */
        color: #9400D3;
    }

    20% {
        color: #4B0082;
    }

    35% {
        color: #0000FF;
    }

    50% {
        color: #29a329;
    }

    60% {
        /* color: #cccc00; */
    }

    /* 80% {
        color: #FF7F00;
    } */

    100% {
        /* opacity: 1; */
        color: #FF0000;
    }
}

span {
    width: 40%;
}

.floating {
    animation-name: floating;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: -50px;
    margin-top: -30px; */
    position: absolute;

}

@keyframes floating {
    0% {
        transform: translate(0px, 5px);
    }

    50% {
        transform: translate(0px, 3500px);
    }

    100% {
        transform: translate(0px, -100px);
    }
}

/* .bubble-1 {
    position: absolute;
    left: 1000px;
} */

/* .rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
} */

/* @keyframes spin3D {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(359deg);
    }
} */

/* .spinhov3D:hover */
/* .rotate {
    animation-name: spin3D;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

.can-rotate {
    animation-name: can-rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes can-rotate {
    0% {
        transform: rotate3d(1.2, 1, 0, 30deg);
    }

    25% {
        transform: rotate3d(1.2, 1, 0.5, 0deg);
    }

    50% {
        transform: rotate3d(1.2, 1, 0.5, -10deg);
    }

    75% {
        transform: rotate3d(1.2, 1, 0.5, 0deg);
    }

    100% {
        transform: rotate3d(1.2, 1, 0, 30deg);
    }
}

.reveal {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.heading-thickness {
    font-weight: 500;
    transition: transform .1s;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    transform: scale(1.1);
}